.chrome-bootstrap .overlay .intro {
    max-width: 674px;
}
.chrome-bootstrap .overlay .intro .gray-bottom-bar :first-child {
    margin-bottom: 10px;
}
.chrome-bootstrap .overlay .intro .flex {
    display: -webkit-box;
}
.chrome-bootstrap .overlay .info {
    width: 33%;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
}
.chrome-bootstrap .overlay .info:nth-child(1) {
    padding-right: 12px;
}
.chrome-bootstrap .overlay .info:nth-child(3) {
    padding-left: 12px;
}
.chrome-bootstrap .overlay .info :last-child {
    min-height: 165px;
    -webkit-box-flex: 1;
}
.chrome-bootstrap .overlay .info:nth-child(1) > :last-child {
    background: transparent url(../graph/metalink.png) no-repeat center bottom;
}
.chrome-bootstrap .overlay .info:nth-child(2) > :last-child {
    background: transparent url(../graph/checksum.png) no-repeat center bottom;
}
.chrome-bootstrap .overlay .info:nth-child(3) > :last-child {
    background: transparent url(../graph/code.png) no-repeat center bottom;
}